@import "bootstrap/dist/css/bootstrap.min.css";
@import "react-toastify/dist/ReactToastify.css";
@import "react-datepicker/dist/react-datepicker.css";
@import "assets/reset.css";
@import "@fontsource/roboto/300.css";
@import "@fontsource/roboto/400.css";
@import "@fontsource/roboto/500.css";
@import "@fontsource/roboto/700.css";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --yellow: #d3a863;
  --terracotta: #c74817;
  --text-color: #5b5858;
  --bg-color: #f7f3f0;
  --bold-text: #131313;
  --border-color: #545050;
}
a {
  color: var(--terracotta);
  text-decoration: none;
  font-weight: 500;
}
a:hover {
  color: var(--border-color);
}
h1 {
  color: var(--terracotta);
  text-align: center;
  margin: 20px 0;
  font-size: 3em;
  font-weight: 700;
  text-transform: uppercase;
}
h2 {
  color: var(--terracotta);
  text-align: center;
  margin: 20px 0;
  font-size: 2.5em;
  font-weight: 600;
  text-transform: uppercase;
}
h4 {
  color: var(--terracotta);
  text-align: center;
  margin: 20px 0;
  font-size: 1.5em;
  font-weight: 300;
}
.page-link {
  background-color: var(--terracotta) !important;
  color: var(--bg-color) !important;
  font-weight: 200;
}
.active > .page-link,
.page-link.active {
  border-color: var(--yellow) !important;
  border: 2px solid;
  font-weight: 700;
}

p {
  font-size: 18px;
  letter-spacing: 0;
  line-height: 25px;
}
Container {
  min-height: 400px;
}
.button_imker{
  background-color: var(--terracotta);
  color: white;
  padding: 10px 15px 12px;
  border-radius: 5px;
}
.button_imker:hover{
  background-color: var(--yellow);
  color: white;
}