@import 'bootstrap/dist/css/bootstrap.min.css';


:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    --yellow: #d3a863;
    --terracotta: #c74817;
    --text-color: #5b5858;
    --bg-color: #f7f3f0;
    --bold-text: #131313;
    --border-color: #545050;
}
